.color-picker {
  display: block;
  overflow: hidden;
  width: 260px;
  height: 260px;
  position: relative; }
  .color-picker:focus {
    outline: 0; }
    .color-picker:focus .knob {
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.38), 0 0 15px rgba(0, 0, 0, 0.48); }
  .color-picker,
  .color-picker .palette,
  .color-picker .rotator,
  .color-picker .selector,
  .color-picker .ripple,
  .color-picker .knob {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    box-sizing: border-box; }
    .color-picker::before,
    .color-picker .palette::before,
    .color-picker .rotator::before,
    .color-picker .selector::before,
    .color-picker .ripple::before,
    .color-picker .knob::before {
      box-sizing: border-box; }
  .color-picker .palette {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    border-radius: 50%;
    overflow: hidden;
    will-change: transform, opacity;
    transition: transform 0.5s cubic-bezier(0.35, 0, 0.25, 1), opacity 0.5s cubic-bezier(0.35, 0, 0.25, 1); }
    .color-picker .palette::before {
      content: '';
      display: block;
      position: absolute;
      width: 76%;
      height: 76%;
      top: 12%;
      left: 12%;
      background-color: #424242;
      border-radius: 50%; }
    .color-picker .palette.is-in {
      transform: scale(1);
      opacity: 1; }
    .color-picker .palette.is-out {
      transform: scale(0);
      opacity: 0; }
  .color-picker .rotator {
    width: 100%;
    height: 100%;
    position: absolute; }
    .color-picker .rotator.dragging {
      z-index: 1; }
    .color-picker .rotator.disabled {
      pointer-events: none; }
  .color-picker .knob {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.12), 0 0 5px rgba(0, 0, 0, 0.16);
    border-radius: 50%;
    position: absolute;
    width: 7%;
    height: 7%;
    top: 2.5%;
    left: 46.5%;
    background-color: #fff;
    transition: transform 0.4s cubic-bezier(0.35, 0, 0.25, 1);
    outline: 0;
    border-style: none; }
    .color-picker .knob.is-in {
      transform: scale(1); }
    .color-picker .knob.is-out {
      transform: scale(0); }
  .color-picker:not(:focus) .knob:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.19), 0 0 15px rgba(0, 0, 0, 0.24); }
  .color-picker .selector {
    position: absolute;
    width: 25%;
    height: 25%;
    top: 37.5%;
    left: 37.5%;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    background-color: #ff0000;
    outline: 0;
    cursor: pointer;
    transition: transform 0.7s cubic-bezier(0.35, 0, 0.25, 1);
    will-change: transform;
    overflow: visible;
    border: 6px solid #fff;
    box-shadow: 0 0 0 1px #b2b2b2; }
    .color-picker .selector::-moz-focus-inner {
      border: 0; }
    .color-picker .selector:hover {
      box-shadow: 0 0 1px 1px #333; }
    .color-picker .selector:focus {
      box-shadow: 0 0 1px 2px #b2b2b2; }
    .color-picker .selector.is-pressed {
      animation: color-picker-beat 0.4s cubic-bezier(0.35, 0, 0.25, 1) forwards; }
  .color-picker .ripple {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    border: #ff0000 solid 8px;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: -1; }
  .color-picker .is-rippling {
    z-index: 0;
    animation: color-picker-ripple 0.5s cubic-bezier(0.35, 0, 0.25, 1) forwards; }

@keyframes color-picker-ripple {
  0% {
    transform: scale(1);
    opacity: .3; }
  50% {
    opacity: .1; }
  100% {
    opacity: 0;
    border-width: 0;
    transform: scale(3.8); } }

@keyframes color-picker-beat {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(0.8); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }
