# ignore pyc-files
*.pyc

# ignore python venv
venv

# ignore build of documentation (to build latest documentation on your own)
doc/_build*
doc/_apidoc/*

# ignore highlighted files: no checkin
*NOCI*

# ignore individual config-files
wordclock_config/wordclock_config.cfg

# ignore swap-files
*.swp

# ignore vscode-files
.vscode

# ignore PyCharm-files
.idea