<!DOCTYPE html>
<html>
<head>
	<title>Wordclock</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script src="{{ url_for('static', filename='js/form.js') }}"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <center>
	<br><br>
    <img src="/static/wordclock.jpg" width="30%" height="30%" >
	<br><br>
	<div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
	<div id="pluginDropdowndiv" class="text-primary" role="alert" >
      <select id="pluginDropdown">
      </select>
    </div>
      <div id="successAlert" class="text-secondary" style="display:none;"></div>
	<div id="pluginList" class="text-primary" style="display:none;"></div>
    </center>
</div>
    <footer class="footer">
      <div class="container">
        <span class="text-muted">The raspberry wordclock.
            <a href="https://github.com/bk1285/rpi_wordclock/">
            <img align="right" src="/static/GitHub-Mark-32px.png" width="32px" height="32px" >
            </a>
            </span>
      </div>
    </footer>
</body>
</html>
