[Unit]
Description=Wordclock
After=network.target

[Service]
ExecStart=/usr/bin/env python3 /home/pi/rpi_wordclock/wordclock.py
WorkingDirectory=/home/pi/rpi_wordclock/
Restart=always
RestartSec=5
KillSignal=SIGTERM
Type=simple
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=wordclock
NotifyAccess=all
User=root
Group=root
Nice=1

[Install]
WantedBy=multi-user.target
